version: "3.9"

services:

  auth:
    build:
      context: .
      dockerfile: ./auth_service/Dockerfile
    container_name: auth_service
    ports:
      - "9001:9001"
    working_dir: /app/data
    volumes:
      - db-data:/app/datax
    networks:
      - iot_net

  gateway:
    build:
      context: .
      dockerfile: ./sensor_gateway/Dockerfile
    container_name: sensor_gateway
    ports:
      - "9002:9002"
    working_dir: /app/data
    volumes:
      - db-data:/app/data
    networks:
      - iot_net
    depends_on:
      - auth

  worker:
    build:
      context: .
      dockerfile: ./alert_worker/Dockerfile
    container_name: alert_worker
    working_dir: /app/data
    volumes:
      - db-data:/app/data
    networks:
      - iot_net
    depends_on:
      - gateway
      - auth

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: web_ui
    ports:
      - "8080:80"
    networks:
      - iot_net
    depends_on:
      - gateway
      - auth

networks:
  iot_net:
    driver: bridge

volumes:
  db-data:
